body {
background-color: #666666;
background-image: url('https://media.hswstatic.com/eyJidWNrZXQiOiJjb250ZW50Lmhzd3N0YXRpYy5jb20iLCJrZXkiOiJnaWZcL3NvbGFyLXN5c3RlbS1qdXBpdGVyLW9yYml0LTIuanBnIiwiZWRpdHMiOnsicmVzaXplIjp7IndpZHRoIjoiMTIwMCJ9fX0=');
background-position: center center;
background-size: cover;
background-repeat: no-repeat;
background-attachment: fixed;
     font-family: "Courier New";
     color: white;
     text-align: center;
     text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000;
     text-style:bold;
}
h1{
font-size:50px;
  }
h2{
     font-size:40px;
}
ul,p {
font-size: 30px;
list-style-type: none;
margin: 0;
padding: 0;
}
