body {
background-color: #666666;
background-image: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/74c3ad32-ce0a-4e42-9494-7de4536aaea9/ddy34hm-9ea886ef-76c0-4f08-832d-b7a7477059bb.jpg/v1/fill/w_1280,h_800,q_75,strp/vortec_space__original_xp_wallpaper__by_dvorak128_ddy34hm-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9ODAwIiwicGF0aCI6IlwvZlwvNzRjM2FkMzItY2UwYS00ZTQyLTk0OTQtN2RlNDUzNmFhZWE5XC9kZHkzNGhtLTllYTg4NmVmLTc2YzAtNGYwOC04MzJkLWI3YTc0NzcwNTliYi5qcGciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.o_I4pOWs5OwhKuiDNCOFX-jWVr6Ls7d2SOxzeF7Z5w8');
background-position: center center;
background-size: cover;
background-repeat: no-repeat;
background-attachment: fixed;
     font-family: "Courier New";
     color: white;
     text-align: center;
     text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000;
   font-weight:bold;
}
h1{
font-size:30px;
  }
h2{
     font-size:25px;
}
ul,p {
font-size: 20px;
list-style-type: none;
margin: 10px 150px;
padding: 0;
}
a{color:chartreuse;}
