body {
background-color: #666666;
background-image: url('https://media.hswstatic.com/eyJidWNrZXQiOiJjb250ZW50Lmhzd3N0YXRpYy5jb20iLCJrZXkiOiJnaWZcL3NvbGFyLXN5c3RlbS1qdXBpdGVyLW9yYml0LTIuanBnIiwiZWRpdHMiOnsicmVzaXplIjp7IndpZHRoIjoiMTIwMCJ9fX0=');
background-position: center center;
background-size: cover;
background-repeat: no-repeat;
background-attachment: fixed;
     font-family: courier;
     color: white;
     text-align: center;
     text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000
}
